<div class="management-container">
    <h1>Inventory Managemnt</h1>

    <!-- Flash messages -->
     <%- messages() %>

     <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add">Add New Inventory</a></li>

     </ul>
</div>
